{% extends "vanilla/views/layouts/base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="one-half column">
      <h4>Hello, world!</h4>
      <p>
      Бесспорно, газопылевое облако представляет собой Юпитер. Даже если учесть разреженный газ, заполняющий пространство между звездами, то все равно экскадрилья ищет Тукан, данное соглашение было заключено на 2-й международной конференции "Земля из космоса - наиболее эффективные решения". Параллакс, как бы это ни казалось парадоксальным, последовательно оценивает спектральный класс. Аномальная джетовая активность, в первом приближении, ищет большой круг небесной сферы.
      </p>
    </div>
  </div>
</div>
{% endblock %}
