<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Vanilla</title>
    <meta name="description" content="Vanilla is aggregator of goods and services">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/skeleton.css">

    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head>
  <body>
    <div class="container">
      <section class="header">
        <h2 class="title">Simple aggregator of goods and services</h2>
      </section>
    </div>
    <div class="navbar-spacer"></div>
    <nav class="navbar">
      <div class="container">
        <ul class="navbar-list">
          <li class="navbar-item">
            <a href="/sessions/new">Sign in</a>
          </li>
        </ul>
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
